<div class="center">

    <form >
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Enter Doctor Name</label>  
         <input type="text" name="name" [(ngModel)]="name" id="form2Example1" class="form-control" />
          
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Email</label>
            <input type="email" name="email" [(ngModel)]="email" id="form2Example2" class="form-control" />
          
        </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Mobile</label>
            <input type="text" name="mobile" [(ngModel)]="mobile" id="form2Example2" class="form-control" />
          
        </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Address</label>
            <input type="text" name="address" [(ngModel)]="address" id="form2Example2" class="form-control" />
          
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example2">Password</label>
          <input type="password" name="password" [(ngModel)]="password" id="form2Example2" class="form-control" />
        
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Fees</label>
        <input type="text" name="fees" [(ngModel)]="fees" id="form2Example2" class="form-control" />
      
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">specialities</label>
      <input type="text" name="specialities" [(ngModel)]="specialities" id="form2Example2" class="form-control" />
    
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">education</label>
    <input type="text" name="education" [(ngModel)]="education" id="form2Example2" class="form-control" />
  
</div>

        <br>
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="form2Example3"
                checked
              />
              <label class="form-check-label" for="form2Example3"> Remember me </label>
            </div>
          </div>
      
          <br>
          <div class="col" >
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>
        <br>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" (click)="doctorsignupbtn()" >Sign Up</button>
        
        <br>
        <!-- Register buttons -->
        <div class="text-center">
          <p>Already Have a member? <a routerLink="/doctor-signin">Login                                                    </a></p>
         
        </div>
      </form>

</div>

